:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #464a5a;
  --primary-blue: #cadcfc;
  --secondary-blue: #00246b;
  --navbar-primary: #00246b;
  --navbar-secondary: #cadcfc;
}
.darkmode {
  --base-color: #070b1d;
  --base-variant: #1b213a;
  --text-color: #ffffff;
  --secondary-text: #cad0eb;
  --primary-blue: #00246b;
  --secondary-blue: #1e64dc;
  --navbar-primary: #00203d;
  --navbar-secondary: #537aaa;
}

body {
  background-color: var(--base-color);
}

.head4 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.head4 h3 {
  background-color: var(--navbar-secondary);
  color: var(--text-color);
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
}
.card-deck {
  display: flex;
  flex-direction: column;
  background-color: var(--base-color);
}

.card-conti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
.Blog-card {
  background-color: var(--base-variant);
  width: 500px;
  margin: 20px 10px;
}
.card-body h5 {
  color: var(--text-color);
}
.card-body p {
  color: var(--secondary-text);
}
