@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #464a5a;
  --primary-blue: #cadcfc;
  --secondary-blue: #00246b;
  --testi-box:#e5eaf4;
  --navbar-primary:#00246b;
  --navbar-secondary:#cadcfc;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #1b213a;
  --text-color: #ffffff;
  --secondary-text: #cad0eb;
  --primary-blue: #00246b;
  --secondary-blue: #1e64dc;
  --testi-box:#151a25;
  --navbar-primary:#00203d;
  --navbar-secondary:#537aaa;
}

